/* ALL */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    display: block;
}

.center-text {
    text-align: center;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: ;
    background: black;
    color: white;
    font-size: 30px;
}

nav {
    display: flex;
    text-decoration: none;
}

nav a {
    padding: 50px;
    text-decoration: none;
    display: block;
    font-size: 30px;
    color: white;
}

main {
    max-width: 100%;
    margin: auto;
    font-size: 25px;
    background-color: darkgrey;
}

.about-me {
    display: flex;
}

.about-me img {
    max-width: 50%;
    text-align: left;
}

h3 {
    font-size: 30px;
    text-decoration: underline;
    text-align: center;
}

p {
    list-style: none;
    padding-right: 200px;
}

.work {
    display: flex;
    flex-wrap: wrap;
}

.tabs {
    flex: 1 0 200px;
    padding: 10px;
}

img {
    position: relative;
    color: white;
}

#big img {
    display: flex;
    width: 70%;
    margin: auto;
}

.work-section {
    display: flex;
}

.work-section img {
    width: 100%;
    padding: 10px;

}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 5px;
    padding: 5px;
}
@media screen and (max-width: 992px) {
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    main {
        justify-content: center;
    }

    nav {
        flex-direction: column;
    }
}


@media screen and (max-width: 768px) {
    main {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 576px) {
    main {
        flex-direction: column;
    }