/* ALL */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    display: block;
}

.center-text {
    text-align: center;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: ;
    background: #555555;
    color: black;
    font-size: 30px;
}

nav {
    display: flex;
    text-decoration: none;
}

nav a {
    padding: 50px;
    text-decoration: none;
    display: block;
    font-size: 30px;
    color: black;
}

main {
    max-width: 100%;
    margin: auto;
}

.about-me {
    display: flex;
    align-items: center;
}

.about-me img {
    max-width: 23%;
}

p {
    list-style: none;
}

#work {
    display: flex;
    flex-wrap: wrap;
}

.tabs {
    flex: 1 0 200px;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 2px;
}

#big {
    display: flex;
    width: 150px;
}

@media screen and (max-width: 992px) {
    header {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    main {
        justify-content: center;
    }

    nav {
        flex-direction: column;
    }
}


@media screen and (max-width: 768px) {
    main {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 576px) {
    main {
        flex-direction: column;
    }